[workspace]
resolver = "3"
members = ["igmnes_core", "igmnes_frontend_sdl2"]
edition = "2018"

[profile.release]
debug = true
debug-assertions = false
overflow-checks = false
opt-level = 3
lto = "fat"
panic = "abort"

[profile.release.build-override]
debug = true
